.maincontainer{
    background-color: rgb(98, 168, 230);
    min-width: 1400px;
    height: 70vh;
    display: flex;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(1, 1, 1, 0.4);
}
.weatherinfo{
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
}
.weatherinfo button{
    height: 40px;
    width: 200px;
    background-color: rgb(98, 168, 230);
    color: #ffffff;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: opacity 0.6s ease-in-out;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}
.weatherinfo button:hover{
    background-color: rgb(13, 87, 151);
}