.mainFavWeather{
    border: 2px solid rgb(204, 204, 204);
    background-color: rgb(98, 168, 230);
    border-radius: 15px;
    min-width: 350px;
    height: 100%;
    box-shadow: 4px 4px 10px rgba(1, 1, 1, 0.4);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.favBox{
    background-color: rgb(98, 168, 230);
    color: #ffffff;
    border: 1px solid white;
    width: 200px;
    border-radius: 5px;
    padding: 10px 20px;
    transition: opacity 0.6s ease-in-out;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}
.backButton{
    background-color: rgb(98, 168, 230);
    color: #ffffff;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    transition: opacity 0.6s ease-in-out;
    font-size: 1rem;
    font-weight: 600;
    margin: 10px;
    cursor: pointer;
}
.backButton:hover{
    background-color: rgb(13, 87, 151);
}
.favButton{
    background-color: rgb(98, 168, 230);
    color: #ffffff;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    transition: opacity 0.6s ease-in-out;
    font-weight: 600;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}
.favButton:hover{
    background-color: rgb(255, 255, 255);
    color: red;
    border: 1px solid red;
}