.mainforecast5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forecast5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(98, 168, 230);
    border-radius: 15px;
    width: 350px;
    height: 100%;
    box-shadow: 4px 4px 10px rgba(1, 1, 1, 0.4);
    margin-top: 15px;
    margin-right: 15px;
}