.favbutton button{
    background-color: rgb(98, 168, 230);
    color: #ffffff;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: opacity 0.6s ease-in-out;
    font-size: 1rem;
    font-weight: 600;
}
.favbutton button:hover{
    background-color: rgb(13, 87, 151);
}
@media only screen and (max-width: 1300px) {
    .favbutton button{
        width: 50px;
        height: 50px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}