.searchdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.searchbar{
    position: relative;
    width: 500px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchInput{
    width: 400px;
    height: 20px;
    border-radius: 20px;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    color: black;
    padding-left: 20px;
}
.searchbar button{
    position: absolute;
    right: 35px;
    width: 100px;
    height: 40px;
    background-color: rgb(98, 168, 230);
    color: black;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    color: white;
    font-size: 1rem;
}
.searchbar button:hover{
    background-color: rgb(13, 87, 151);
}
.weatherResult{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 15px;
    padding: 8px;
}